<ion-view title="Contato" id="page3" style="background-color:#D2D2D8;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 14px;"></div>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 19px;"></div>
            <div id="contato-markdown3" style="color:#000000;text-align:center;">
                <p>Digite aqui suas Dicas, Sugestões, Reclamações</p>
            </div>
            <div class="spacer" style="width: 283px; height: 7px;"></div>
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="contato-button3" class="button button-positive  button-block">Enviar</button>
        <div class="spacer" style="width: 283px; height: 90px;"></div>
        <div id="contato-markdown4" style="color:#000000;text-align:center;">
            <p>Praça Coronel José Lopes, 387 Centro – São Vicente /SP</p>

            <p>Telefone: (13) 3467-7153 (13) 3467-2955</p>
        </div>
    </ion-content>
</ion-view>