<ion-view title="Home" id="page1" style="background-color:#D2D2D8;">
    <ion-content padding="true" class="has-header">
        <div id="home-markdown1" style="color:#000000;"></div>
        <a ui-sref="menu.quemSomos" id="home-button4" class="button button-positive  button-block">ETEC Ruth Cardoso</a>
        <a ui-sref="menu.produto" id="home-button5" class="button button-positive  button-block">Produto</a>
        <a ui-sref="menu.contato" id="home-button6" class="button button-positive  button-block">Fale Conosco</a>
        <button id="home-button7" class="button button-positive  button-block">Redes Sociais</button>
        <button id="home-button8" class="button button-positive  button-block">Serviços</button>
    </ion-content>
</ion-view>