<ion-view title="Produto" id="page2" style="background-color:#D2D2D8;">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/hPj7BJAQiirX8PU3EmUw_Tabajara.jpg" width="100%" height="200" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="produto-markdown7" style="color:#000000;">
            <pre>
                <code>Este software tem como objetivo informar aos alunos e professores dicas e horarios de aulas, eventos, etc Nele o usuario tera as informações de seu curso, da Escola,</code>
            </pre>
        </div>
    </ion-content>
</ion-view>