<ion-view title="Quem Somos" id="page5" style="background-color:#D2D2D8;">
    <ion-content padding="true" class="has-header">
        <h3 id="quemSomos-heading2" style="color:#000000;font-weight:400;text-align:center;">ETEC Ruth Cardoso</h3>
        <div id="quemSomos-markdown5" style="color:#000000;"></div>
        <div class="spacer" style="width: 283px; height: 10px;"></div>
        <div>
            <a style="display:block;" href="#" onclick="window.open('http://etecdrc.com.br/', '_system', 'location=yes'); return false;">
                <img src="img/yGWdxGh1QsKLn4RF47MX_etec_saovicente-e1405303412631-390x279.jpg" width="100%" height="150" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div id="quemSomos-markdown6" style="color:#000000;">
            <p>A ETEC Doutora Ruth Cardoso iniciou suas atividades como Classes Descentralizadas da ETEC Dona Escolástica Rosa, em junho de 2008 a cessão oficial do prédio para implantação do prédio que passou por reformas para instalar a ETEC “Doutora Ruth
                Cardoso”; no dia 24/07/2008 aconteceu a aula inaugural da Unidade para duas habilitações técnicas de nível médio: Edificações e Informática. Em fevereiro de 2009 a ETEC de São Vicente implantou o Ensino Médio com 02 (duas) classes e 80
                (oitenta) alunos. Em outubro de 2009 através da Lei 13770 de 21/10/2009 publica em DOE em 22/10/2010 a ETEC de São Vicente passa a chamar-se ETEC “Doutora Ruth Cardoso”. No 2º semestre de 2010 iniciou-se a implantação da Classe Descentralizada
                na EE Enio Vilas Boas com a oferta dos cursos técnicos na área de gestão.</p>
        </div>
    </ion-content>
</ion-view>