<ion-view title="Redes Sociais" id="page6" style="background-color:#D2D2D8;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <a href="#" onclick="window.open('https://pt-br.facebook.com/EtecDRC', '_system', 'location=yes'); return false;" id="redesSociais-button11" style="font-weight:lighter;border-radius:51px 51px 51px 51px;" class="button button-positive  button-block">Facebook</a>
            <button id="redesSociais-button12" class="button button-positive  button-block">2</button>
        </div>
    </ion-content>
</ion-view>